@import "tailwindcss";

@layer base {
  html,
  body {
    overscroll-behavior: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  #root,
  canvas {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
}
